@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    li:hover .arrow{
        display: block !important;
    }
    li .active .arrow{
        display: block !important;
    }
}